pipeline {
    agent any

    tools {
        // Use Maven configured in Jenkins
        maven "MAVEN_HOME"
    }

    stages {

        stage('Clean Workspace') {
            steps {
                deleteDir()
            }
        }

        stage('Git Clone & Clean') {
            steps {
                bat "git clone https://github.com/Bharath-chandra997/maven_webproject"
                bat "mvn clean -f maven_webproject/pom.xml"
            }
        }

        stage('Install') {
            steps {
                bat "mvn install -f maven_webproject/pom.xml"
            }
        }

        stage('Test') {
            steps {
                bat "mvn test -f maven_webproject/pom.xml"
            }
        }

        stage('Package') {
            steps {
                bat "mvn package -f maven_webproject/pom.xml"
            }
        }
    }
}




//Working with Minikube (Nginx Service Deployment)	
minikube start
minikube status

kubectl create deployment nginx-deploy --image=nginx
kubectl get pods

kubectl expose deployment nginx-deploy --port=80 --target-port=80
kubectl get svc

kubectl port-forward svc/nginx-deploy 8090:80
# Open browser: http://localhost:8090

# New Terminal
kubectl get pods
kubectl get svc

q3
//Monitoring Tool – Nagios
docker pull jasonrivers/nagios
docker run --name nagios -d -p 8080:80 jasonrivers/nagios
docker ps

# If "name already in use"
docker rm -f nagios

# If port is in use
netstat -ano | findstr :8080
taskkill /PID <PID> /F

# Alternative port
docker run --name nagios -d -p 8090:80 jasonrivers/nagios


//user name = nagiosadmin
//password = magios





//email notification
open : https://myaccount.google.com/apppasswords

•	Select:
o	App: Other (Custom name)
o	Name: Jenkins-Demo
•	Click Generate
•	Copy the 16-digit app password
o	Save it in a secure location (e.g., Notepad)

 2.  Jenkins Plugin Installation
i. Open Jenkins Dashboard
ii. Navigate to:
•	Manage Jenkins → System
iii. Install Plugin:
•	Search for and install:
o	Email Extension Plugin

3. Configure Jenkins Global Email Settings
  Go to:
•	Manage Jenkins → Configure System
________________________________________
A. E-mail Notification Section
Field	Value
SMTP Server	smtp.gmail.com
Use SMTP Auth	✅ Enabled
User Name	Your Gmail ID (e.g., archanareddykmit@gmail.com)
Password	Paste the 16-digit App Password
Use SSL	✅ Enabled
SMTP Port	465
Reply-To Address	Your Gmail ID (same as above)
➤ Test Configuration
•	Click: Test configuration by sending test e-mail
•	Provide a valid email address to receive a test mail
•	✅ Should receive email from Jenkins
